@import url('https://fonts.googleapis.com/css?family=Alice|Quicksand&display=swap');

/* Colors

#CDA34F - Aztec Gold

#E9E7DA - Eggshell

#636B46 - Umber (lighter green)

#373F27 - Kombu Green (darker green)

#FFFFFF - White


*/

/*

font-family: 'Quicksand', san-serif;

font-family: 'Alice', serif;

*/

$AztecGold: #CDA34F;

$Eggshell: #E9E7DA;

$Umber: #636B46;

$KombuGreen: #373F27;

$White: #FFFFFF;

$SerifFont: 'Alice', serif;

$SansFont: 'Quicksand', sans-serif;

$MobileSectionPadding: 50px;

a {

	text-decoration: none;

}

h1, h3, h4, h5, h6 {

	font-family: $SerifFont;

}

h1 {

	margin: 0;

	color: $Eggshell;

    font-size: 2em;
    
    animation: fadetransition 2s;

}

h2 {

	margin: 0;

	margin-top: 10px;

	color: $AztecGold;

	font-family: $SansFont;

    font-size: 1em;
    
    animation: fadetransition 2s;

}

h1, h2 {

	text-align: center;

}


html {

	margin: 0;

	padding: 0;

	font-family: $SansFont;

}

body {

	margin: 0;

	padding: 0;

}

.intro header {

    background-color: $KombuGreen;
    
    h1::before {

        content: '';
    
        background: url(./images/Zen-Garden-Logo-Designs-5.jpg) center no-repeat;
    
        background-size: 200px 200px;
    
        width: 200px;
    
        height: 200px;
    
        display: block;
    
        margin-left: auto;
    
        margin-right: auto;
    
    }

}

.zen-resources:after {

    content: '';

    //Created an SVG in Adobe Illustrator and exported it to a text format. Then URL encoded it so it would work correctly in a CSS url()
    background: url("data:image/svg+xml;utf8,%3Csvg%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202000%201375%22%3E%3Ctitle%3EZen%20Garden%20Lotus%3C%2Ftitle%3E%3Crect%20y%3D%226%22%20width%3D%222000%22%20height%3D%221369%22%20fill%3D%22%23cda34f%22%2F%3E%3Cpath%20d%3D%22M961.65%2C1116.14S355%2C1234.85%2C80.07%2C607.27C80.07%2C607.27%2C686.7%2C493.8%2C961.65%2C1116.14Z%22%20fill%3D%22%23e9e7da%22%2F%3E%3Cpath%20d%3D%22M1920%2C607.27s-606.63-113.47-881.58%2C508.87c0%2C0%2C606.63%2C118.71%2C881.58-508.87%22%20fill%3D%22%23e9e7da%22%2F%3E%3Cpath%20d%3D%22M1000%2C1075.39S598.17%2C607%2C999.35%2C57.49c0%2C0%2C406.39%2C465.77.68%2C1017.9%22%20fill%3D%22%23e9e7da%22%2F%3E%3Cpath%20d%3D%22M827.23%2C830.72s-145.77-185-394.53-241.78c0%2C0-53.24-171.08-35.79-389.29%2C0%2C0%2C268%2C121.33%2C384.06%2C308.12C781%2C507.77%2C760%2C639.57%2C827.23%2C830.72Z%22%20fill%3D%22%23e9e7da%22%2F%3E%3Cpath%20d%3D%22M1174.6%2C830.72s145.77-185%2C394.53-241.78c0%2C0%2C53.24-171.08%2C35.79-389.29%2C0%2C0-268%2C121.33-384.06%2C308.12C1220.86%2C507.77%2C1241.81%2C639.57%2C1174.6%2C830.72Z%22%20fill%3D%22%23e9e7da%22%2F%3E%3Cellipse%20cx%3D%221002.45%22%20cy%3D%221217.44%22%20rx%3D%22514.23%22%20ry%3D%22106.44%22%20fill%3D%22%23e9e7da%22%20stroke%3D%22%23cda34f%22%20stroke-miterlimit%3D%2210%22%20stroke-width%3D%2240%22%2F%3E%3C%2Fsvg%3E") center no-repeat;

    background-size: 500px 500px;

    width: 500px;

    height: 500px;

    display: block;

    margin-left: auto;

    margin-right: auto;

}

.summary {

	background-color: $Umber;

	color: $Eggshell;

    p:first-child {

        padding-top: $MobileSectionPadding;
    
    }

    p:last-child {

        padding-bottom: $MobileSectionPadding;
    
    }

    a:link {

        color: $AztecGold;
    
    }

    a:visited {

        color: $AztecGold;
    
    }

    a:hover {

        color: $White;
    
    }

    a:active {

        color: $White;
    
    }

}

p {

	margin: 0;

	padding-top: 10px;

	padding-bottom: 10px;

	font-weight: bold;

	margin-left: 10%;

	margin-right: 10%;

}

header::after {

	content: '';

	background: url(./images/gradient1.png) no-repeat center;

	display: block;

	width: 100%;

	height: 100px;

	background-size: 100% 100px;

}

.summary::after {

	content: '';

	background: url(./images/gradient2.png) no-repeat center;

	display: block;

	width: 100%;

	height: 100px;

	background-size: 100% 100px;

}

.preamble {

	background-color: $Eggshell;

    color: $KombuGreen;
    
    h3 {

        padding-top: $MobileSectionPadding;
    
    }

    p:last-child {

        padding-bottom: $MobileSectionPadding;
    
    }
	
}

.preamble::after {

	content: '';

	background: url(./images/gradient3.png) no-repeat center;

	display: block;

	width: 100%;

	height: 100px;

	background-size: 100% 100px;


}

h3 {

	margin-top: 0;

	margin-bottom: 0;

	padding-top: 20px;

	padding-bottom: 10px;

	margin-left: 10%;

	margin-right: 10%;

	font-size: 1.6em;

}

.explanation {

	background-color: $KombuGreen;

    color: $AztecGold;
    
    h3 {

        padding-top: $MobileSectionPadding;
    
    }

    p:last-child {

        padding-bottom: $MobileSectionPadding;
    
    }

}

.explanation::after {

	content: '';

	background: url(./images/gradient1flipped.png) no-repeat center;

	display: block;

	width: 100%;

	height: 100px;

	background-size: 100% 100px;


}

.participation {

	background-color: $Umber;

    color: $Eggshell;
    
    h3 {

        padding-top: $MobileSectionPadding;
    
    }

    p:last-child {

        padding-bottom: $MobileSectionPadding;
    
    }
    
    a:link {

        color: $AztecGold;
    
    }

    a:visited {

        color: $AztecGold;
    
    }

    a:hover {

        color: $White;
    
    }

    a:active {

        color: $White;
    
    }

}

.participation::after {

	content: '';

	background: url(./images/gradient2.png) no-repeat center;

	display: block;

	width: 100%;

	height: 100px;

	background-size: 100% 100px;

}

.benefits {

	background-color: $Eggshell;

    color: $KombuGreen;
    
    h3 {

        padding-top: $MobileSectionPadding;
    
    }

    p:last-child {

        padding-bottom: $MobileSectionPadding;
    
    }

}

.benefits::after {

	content: '';

	background: url(./images/gradient3flipped.png) no-repeat center;

	display: block;

	width: 100%;

	height: 100px;

	background-size: 100% 100px;

}

.requirements {

	background-color: $KombuGreen;

    color: $AztecGold;
    
    h3 {

        padding-top: $MobileSectionPadding;
    
    }

    p:last-child {

        padding-bottom: 80px;
    
    }

    a:link {

        color: $Eggshell;
    
    }

    a:visited {

        color: $Eggshell;
    
    }

    a:hover {

        color: $White;
    
    }

    a:active {

        color: $White;
    
    }

}

footer {

    display: flex;
    
    a {

        width: 20%;
    
        text-align: center;
    
        padding-top: 5%;
    
        padding-bottom: 5%;
    
        font-weight: bold;
    
        font-size: 1.3em;
    
    }

    a:nth-child(1) {

        background-color: $Umber;
    
    }
    
    a:nth-child(1):link {
    
        color: $Eggshell;
    
    }
    
    a:nth-child(1):visited {
    
        color: $Eggshell;
    
    }
    
    a:nth-child(1):hover {
    
        color: $AztecGold;
    
    }
    
    a:nth-child(1):active {
    
        color: $AztecGold;
    
    }
    
    a:nth-child(2) {
    
        background-color: $Eggshell;
        
    }
    
    a:nth-child(2):link {
    
        color: $KombuGreen;
    
    }
    
    a:nth-child(2):visited {
    
        color: $KombuGreen;
    
    }
    
    a:nth-child(2):hover {
    
        color: $Umber;
    
    }
    
    a:nth-child(2):active {
    
        color: $Umber;
    
    }
    
    a:nth-child(3) {
    
        background-color: $AztecGold;
        
    }
    
    a:nth-child(3):link {
    
        color: $White;
    
    }
    
    a:nth-child(3):visited {
    
        color: $White;
    
    }
    
    a:nth-child(3):hover {
    
        color: $KombuGreen;
    
    }
    
    a:nth-child(3):active {
    
        color: $KombuGreen;
    
    }
    
    a:nth-child(4) {
    
        background-color: $KombuGreen;
        
    }
    
    a:nth-child(4):link {
    
        color: $Eggshell;
    
    }
    
    a:nth-child(4):visited {
    
        color: $Eggshell;
    
    }
    
    a:nth-child(4):hover {
    
        color: $AztecGold;
    
    }
    
    a:nth-child(4):active {
    
        color: $AztecGold;
    
    }
    
    a:nth-child(5) {
    
        background-color: $White;
        
    }
    
    a:nth-child(5):link {
    
        color: $AztecGold;
    
    }
    
    a:nth-child(5):visited {
    
        color: $AztecGold;
    
    }
    
    a:nth-child(5):hover {
    
        color: $KombuGreen;
    
    }
    
    a:nth-child(5):active {
    
        color: $KombuGreen;
    
    }

}

.select {

	display: block;

	background-color: $Umber;

	color: $Eggshell;

	text-align: center;

	margin-left: 0;

	margin-right: 0;

	padding-bottom: 8%;

	padding-top: 8%;

	font-family: $SansFont;

}

.design-selection nav ul {

	display: flex;

	flex-wrap: wrap;

	list-style: none;

    width: 100%;
    
    li {

        width: 50%;
    
        padding-top: 10%;
    
        padding-bottom: 10%;
    
        text-align: center;
    
    }

    li:nth-child(1) {

        background-color: $AztecGold;
    
        color: $White;
    
    }
    
    li:nth-child(1) a:link {
    
        color: $KombuGreen;
    
    }
    
    li:nth-child(1) a:visited {
    
        color: $KombuGreen;
    
    }
    
    li:nth-child(1) a:hover {
    
        color: $Eggshell;
    
    }
    
    li:nth-child(1) a:active {
    
        color: $Eggshell;
    
    }
    
    
    
    
    
    
    
    li:nth-child(2) {
    
        background-color: $Eggshell;
    
        color: $KombuGreen;
    
    }
    
    li:nth-child(2) a:link {
    
        color: $AztecGold;
    
    }
    
    li:nth-child(2) a:visited {
    
        color: $AztecGold;
    
    }
    
    li:nth-child(2) a:hover {
    
        color: $Umber;
    
    }
    
    li:nth-child(2) a:active {
    
        color: $Umber;
    
    }
    
    
    
    
    
    
    
    
    
    
    
    
    li:nth-child(3) {
    
        background-color: $KombuGreen;
    
        color: $AztecGold;
    
    }
    
    li:nth-child(3) a:link {
    
        color: $White;
    
    }
    
    li:nth-child(3) a:visited {
    
        color: $White;
    
    }
    
    li:nth-child(3) a:hover {
    
        color: $Eggshell;
    
    }
    
    li:nth-child(3) a:active {
    
        color: $Eggshell;
    
    }
    
    
    
    
    
    
    
    
    li:nth-child(4) {
    
        background-color: $Umber;
    
        color: $Eggshell;
    
    }
    
    li:nth-child(4) a:link {
    
        color: $AztecGold;
    
    }
    
    li:nth-child(4) a:visited {
    
        color: $AztecGold;
    
    }
    
    li:nth-child(4) a:hover {
    
        color: $KombuGreen;
    
    }
    
    li:nth-child(4) a:active {
    
        color: $KombuGreen;
    
    }
    
    
    
    
    
    
    
    
    
    
    
    
    li:nth-child(5) {
    
        background-color: $Eggshell;
    
        color: $KombuGreen;
    
    }
    
    li:nth-child(5) a:link {
    
        color: $AztecGold;
    
    }
    
    li:nth-child(5) a:visited {
    
        color: $AztecGold;
    
    }
    
    li:nth-child(5) a:hover {
    
        color: $Umber;
    
    }
    
    li:nth-child(5) a:active {
    
        color: $Umber;
    
    }
    
    
    
    
    
    
    
    
    li:nth-child(6) {
    
        background-color: $AztecGold;
    
        color: $KombuGreen;
    
    }
    
    li:nth-child(6) a:link {
    
        color: $White;
    
    }
    
    li:nth-child(6) a:visited {
    
        color: $White;
    
    }
    
    li:nth-child(6) a:hover {
    
        color: $Eggshell;
    
    }
    
    li:nth-child(6) a:active {
    
        color: $Eggshell;
    
    }
    
    
    
    
    
    
    
    
    li:nth-child(7) {
    
        background-color: $Umber;
    
        color: $Eggshell;
    
    }
    
    li:nth-child(7) a:link {
    
        color: $AztecGold;
    
    }
    
    li:nth-child(7) a:visited {
    
        color: $AztecGold;
    
    }
    
    li:nth-child(7) a:hover {
    
        color: $KombuGreen;
    
    }
    
    li:nth-child(7) a:active {
    
        color: $KombuGreen;
    
    }
    
    
    
    
    
    
    
    
    li:nth-child(8) {
    
        background-color: $KombuGreen;
    
        color: $AztecGold;
    
    }
    
    li:nth-child(8) a:link {
    
        color: $Eggshell;
    
    }
    
    li:nth-child(8) a:visited {
    
        color: $Eggshell;
    
    }
    
    li:nth-child(8) a:hover {
    
        color: $White;
    
    }
    
    li:nth-child(8) a:active {
    
        color: $White;
    
    }

}


abbr {

	text-decoration: none;

}
















.design-archives {

	padding-top: $MobileSectionPadding;

	padding-bottom: $MobileSectionPadding;

}

.zen-resources {

	padding-bottom: 0px;

}

.design-archives, .zen-resources {

    background-color: $AztecGold;
    
    ul {

        list-style: none;
    
    }
    
    h3 {
    
        color: $Eggshell;
    
        padding-bottom: 20px;
    
    }
    
    a {
    
        font-size: 1.3em;
    
    }
    
    li {
    
        margin-left: 10%;
    
        margin-right: 10%;
    
    }
    
    
    a:link {
    
        color: $KombuGreen;
    
    }
    
    a:visited {
    
        color: $KombuGreen;
    
    }
    
    a:hover {
    
        color: $Eggshell;
    
    }
    
    a:active {
    
        color: $Eggshell;
    
    }

}

ul {

	padding: 0;

	margin: 0;

}

@keyframes fadetransition {

    0% {

        opacity: 0;

    }

    100% {

        opacity: 1;

    }

}





/* Wide Desktop view*/
@media only screen and (min-width: 60em) {

    .zen-resources:after {

        background-size: 300px 300px;
    
        width: 300px; 
        height: 300px;
    
    }

    h1 {
        position: relative;
        text-align: left;
		font-size: 3.3rem;
		animation: fadein 1.3s; 
    }
    
    @keyframes fadein {
        from {
            opacity: 0;
            left: 100%;
        }

        50% {
            opacity: .1;
        }

        to {
            opacity: 1;
            left: 0;
        }
        
    }

	h2 {
        position: relative;
		font-size: 1.3rem;
		text-align: left;
        padding: 0 0 0 16rem;
        animation: fadein 1.3s;
	}

	h3 {
        
        font-size: 2.2rem;
        
	}

	p {
        
		font-size: 1rem;
        padding: 0 20% 0 0;

	}

	section#zen-intro.intro, div#zen-supporting.main.supporting {
        
        width: 100%;
        
	}

	aside.sidebar {
        
		position: absolute;
		right: 0;
		top: 10rem;
        width: 25%;
        
	}

	.intro header h1::before {
        
		display: inline-block;
		margin: 0;
		
	}

	h1::before {
        
		position: relative;
        top: 6rem;
        
	}

	

	div#design-selection.design-selection, div#design-archives.design-archives, div#zen-resources.zen-resources {

		margin-right: 0;
		margin-left: auto;
        text-align: right;
        
	}

	div#design-archives.design-archives, div#zen-resources.zen-resources {

        padding: 1.5rem 1rem 1.5rem 1.5rem;
        
	}

	.design-selection nav ul li {

		width: 100%;
		padding: 2.5rem 1rem 2.5rem 2.5rem;
		text-align: right;
        font-size: 1.3rem;
        
	}

	header::after {

        content: '';

        background: url(./images/gradient1flipped.png) no-repeat center;

        display: block;

        width: 100%;

        height: 100px;

        background-size: 100% 100px;

    }

    .summary::after {

        content: '';

        background: url(./images/gradient2flipped.png) no-repeat center;

        display: block;

        width: 100%;

        height: 100px;

        background-size: 100% 100px;

    }

    .preamble::after {

        content: '';

        background: url(./images/gradient3flipped.png) no-repeat center;

        display: block;

        width: 100%;

        height: 100px;

        background-size: 100% 100px;


    }

    .explanation::after {

        content: '';

        background: url(./images/gradient1.png) no-repeat center;

        display: block;

        width: 100%;

        height: 100px;

        background-size: 100% 100px;


    }

    .participation::after {

        content: '';

        background: url(./images/gradient2flipped.png) no-repeat center;

        display: block;

        width: 100%;

        height: 100px;

        background-size: 100% 100px;

    }

}